<section class="shop-banner">
  <div class="container">
      <h3>Logitech <br> com grande <span class="orange-text">Desconto...</span></h3>
        <div class="sale-percent">50% <span>off</span></div>
        <a href="{{route ('shop')}}" class="cart-btn btn-lg">Compre agora!</a>
    </div>
</section>
